.menu{
    display: flex;
    width: 200px;
    height: 220px;
    align-items: center;
}

.menu-list{
    background-color: black;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    /* margin-right: 100%; */
}

.menu-text{
    background-color: rgb(35, 34, 34);
    color: white;
    font-family: fantasy;
}

.menu-sections{
    color: white;
    font-family: sans-serif;
}

.menu-text:hover + .menu-list{
    opacity: 1;
}

.menu-text:hover{
    color: grey;
    opacity: 0;
}