.menu{
    display: flex;
    width: 200px;
    height: 220px;
    align-items: center;
}

.menu-list{
    background-color: black;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-text{
    background-color: black;
    color: aqua;
    font-family: fantasy;
}

.menu-sections{
    color: orange;
    font-family: sans-serif;
}

.menu-text:hover + .menu-list{
    opacity: 1;
}

.menu-text:hover{
    color: blue;
    opacity: 1;
}